<div class="data-wrapper">
      <div class="img-wrapper">
        <div class="shadow">

        </div>
        <img src="https://img.freepik.com/free-vector/juice-ad-with-gradients-lettering_52683-30650.jpg?w=740&t=st=1687076483~exp=1687077083~hmac=4cc7d3cb40ba825da0e643f4dd129b756b77ddf8ad602aece688103c4683be53" alt="">
      </div>
      <div class="data-set">
       <h3 class="name">Product Name</h3>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, odit!
        </p>
        <p class="cost-outer">
         <span class="actual-price">2500</span>&nbsp;&nbsp;
         <del class="old-price">3000</del>
        </p>
      </div>
</div>
